<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
  
  <h1 id="cocktailTitle"><%= cocktail %> </h1>
  <!-- The cocktail name is displayed in the h1 element above -->
    <div id="cocktail" class="cocktail" style="background-image: url('<%= cocktailImage %>');">
      <p class="cocktail">
         
      </p>
    </div>

  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
      <% for (let i = 1; i <= 15; i++) { %>
        <% const ingredient = drink['strIngredient' + i]; %>
        <% const measure = drink['strMeasure' + i]; %>
        <% if (ingredient) { %>
          <li><%= measure %> <%= ingredient %></li>
        <% } %>
      <% } %>
    </ul>
  </div>
  <p class="user">
    <%= cocktailIns %>
  </p>
</body>
</html>